<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>KodeMono-Regular.ttf</string>
		<string>KodeMono-Medium.ttf</string>
		<string>KodeMono-SemiBold.ttf</string>
		<string>KodeMono-Bold.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>co.fourthquarterstudio.openambi</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>openambi needs access to your microphone to record ambient sounds for your personal sound library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>openambi would like to capture the location where you record sounds to help organize your recordings.</string>
	<key>NSCameraUsageDescription</key>
	<string>openambi would like to capture photos to accompany your sound recordings.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>openambi would like to access your photo library to select images for your sound recordings.</string>
</dict>
</plist>
